#S
rst
clk

#E
@min_distance=0.22
sine_out\[17\]
sine_out\[16\]
sine_out\[15\]
sine_out\[14\]
sine_out\[13\]
sine_out\[12\]
sine_out\[11\]
sine_out\[10\]
sine_out\[9\]
sine_out\[8\]
sine_out\[7\]
sine_out\[6\]
sine_out\[5\]
sine_out\[4\]
sine_out\[3\]
sine_out\[2\]
sine_out\[1\]
sine_out\[0\]
sign
signB
