# Ignora pastas de execução de LVS e DRC
lvs_run_*/
drc_run_*/

# Ignora arquivos de log e banco de dados de erro
*.log
*.lvsdb

# Ignora arquivos gerados por extração de layout e esquematico
*_extracted.cir
*.ext
*.nodes
*.sim
*.spice

